<div class="row">
    <h1>A propos</h1>
    <p>Vous rêvez d’un monde où le feedback rapide est roi, où la qualité n’est pas une option, où la livraison en production
        le vendredi soir n’est pas une utopie, alors venez à l’atelier porter haut les couleurs du Software Crafsmanship.</p>
    <p>Pendant ces deux jours, que vous soyez contributeur ou simple consommateur de l’application, vous avez tous une raison
        de participer à cette aventure et cela, dès maintenant en utilisant UserVoice ou en venant à l'atelier.</p>
    <p>UserVoice vous permet de soumettre une idée rapidement depuis n'importe quelle page de l'application Mix-IT Now (icône idée).
        N'hésitez pas à vous rendre sur le <a href="http://mixit-craftsmanship.uservoice.com">site UserVoice dédié à l'application</a> pour voter pour les idées que vous préférez !
        Les artisans de l'atelier tenteront de satisfaire au mieux leurs utilisateurs !</p>
    <h2>Venez nous voir au premier étage à droite, et profitez du fablab avec l'atelier "des Bits aux atomes" aussi.</h2>
    <p class="text-right">Application version <span data-bind="text: applicationVersion"></span></p>
</div>