<div class="row">
    <h1>A propos</h1>
    <p>
        Site créé lors de l'atelier Crafting Workshop du Mix-IT 2014 :
        <a href="http://www.mix-it.fr/session/362/crafting-workshop">http://www.mix-it.fr/session/362/crafting-workshop</a>
    </p>
    <p>
        Vous pouvez toujours proposer des améliorations via une pull request sur
        <a href="https://github.com/mixit-craftsmanship/mixit-craftsmanship">github</a> <br />
        ou via <a href="http://mixit-craftsmanship.uservoice.com">uservoice</a>.
    </p>
</div>