<div class="row">
    <div class="col-lg-12">
        <img class="img-responsive" src="/imgs/logo-mixit.png">
    </div>
    <h1 class="col-lg-12 text-center">Votez en continu pour les sessions !</h1>
    <p class="col-lg-12 text-center" data-bind="ifnot: waiting">Pour cela, indiquez où vous vous trouvez :</p>
    <div class="col-lg-12 text-center" data-bind="if: waiting">
        <p>Chargement en cours des conférences...</p>
    </div>

    <div class="currentTalks col-lg-12">
        <div class="row" data-bind="foreach: talks">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <button type="button" class="btn btn-primary" data-bind="text: title, click: select"></button>
            </div>
        </div>
    </div>
    <p class="col-lg-12 text-center"><a href="/#/about"><strong>En savoir plus sur le Crafting Workshop</strong></a></p>

    <h1 class="col-lg-12 text-center" data-bind="visible:">Les sessions à venir dans l'heure...</h1>
    <div data-bind="foreach: nextTalks" class="nextTalks">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <button type="button" class="btn btn-primary" data-bind="text: title, click: viewDetails"></button>
        </div>
    </div>

    <div class="col-lg-12 text-center">
        <button type="button" class="btn btn-primary" data-bind="click: displayStatistique">Afficher les statistiques</button>
    </div>

    <div class="col-lg-12 text-center">
        <a class="twitter-timeline" href="https://twitter.com/search?q=%23mixit14" data-widget-id="461463800923688960">Tweets concernant "#mixit14"</a>
    </div>
</div>

