<div class="row">
    <h1 class="col-lg-12 text-center" data-bind="text: talkTitle"></h1>
    <div class="col-lg-12 text-center" data-bind="ifnot: loading">
        <p data-bind="visible: !talkHasStartAndEnd()">En continu sur les 2 jours</p>
        <p data-bind="visible: talkHasStartAndEnd">Le <span data-bind="text: talkDay"></span> de <span data-bind="text: talkStart"></span> à <span data-bind="text: talkEnd"></span></p>
        <p data-bind="visible: talkRoom">En salle <span data-bind="text: talkRoom"></span></p>
        <!-- ko foreach: talkSpeakers -->
            <p><span data-bind="text: $data.firstname"></span>&nbsp;<span data-bind="text: $data.lastname"></span><img class="speakerImage" data-bind="attr: {src: $data.image}"></p>
        <!-- /ko -->
        <p data-bind="text: talkSummary"></p>
    </div>
    <div class="col-lg-12 text-center" data-bind="if: loading">
        <p>Chargement en cours des détails...</p>
    </div>
</div>