<div class="row talkVotePage">
    <h1 class="col-lg-12 text-center" data-bind="text: talkTitle"></h1>

    <div class="col-lg-12 text-center" data-bind="if: !hasError() && connected() && !talkEnded()">
        <div data-bind="attr: { class: 'happySprite happy' + happyLevel() }, click: vote"></div>
        <br />
        <button type="button" class="btn btn-primary talkVoteButton" data-bind="click: vote">+1</button>
        <br />
        <br />
        <br />
        <p>A <b>chaque moment</b> ou une chose vous plaît, <b>cliquez</b> sur "+1". Plus vous êtes heureux, plus vous devez cliquer.</p>
        <p>Une courbe pour chaque session indiquera l'évolution des votes au cours du temps. Aidez le speaker à être dans le top vote.</p>

        <div class="well">
            <p data-bind="visible: talkHasStartAndEnd">Le <span data-bind="text: talkDay"></span> de <span data-bind="text: talkStart"></span> à <span data-bind="text: talkEnd"></span></p>
            <p data-bind="visible: talkRoom">En salle <span data-bind="text: talkRoom"></span></p>
            <!-- ko foreach: talkSpeakers -->
            <p><span data-bind="text: $data.firstname"></span>&nbsp;<span data-bind="text: $data.lastname"></span><img class="speakerImage" data-bind="attr: {src: $data.image}"></p>
            <!-- /ko -->
            <p data-bind="text: talkSummary"></p>
        </div>
    </div>

    <div class="col-lg-12 text-center" data-bind="ifnot: connected">
        <p class="bg-info">Connexion en cours...</p>
    </div>

    <div class="col-lg-12 text-center" data-bind="if: hasError">
        <p class="bg-danger">Impossible de se connecter au serveur</p>
    </div>

    <div class="col-lg-12 text-center" data-bind="if: talkEnded">
        <p class="bg-primary">La session est terminée. Vous ne pouvez plus voter</p>
        <a href="/">Changer de session</a>
    </div>
</div>
