<div class="row">
    <h1 class="col-lg-12 text-center" data-bind="text: talkTitle"></h1>

    <div class="col-lg-12 text-center" data-bind="ifnot: hasError, click: vote">
        <div data-bind="attr: { class: 'happySprite happy' + happyLevel() }"></div>
        <br />
        <button type="button" class="btn btn-primary">+1</button>
        <br />
        <br />
        <br />
        <p>A <b>chaque moment</b> qu'une chose vous plaît, <b>cliquez</b> sur "+1". Plus vous êtes heureux, plus vous devez cliquer.</p>
        <p>Une courbe pour chaque session indiquera l'évolution des votes au cours du temps. Aidez le speaker a être dans le top vote.</p>
    </div>

    <div class="col-lg-12 text-center" data-bind="if: hasError">
        <p class="bg-danger">Impossible de se connecter au serveur</p>
    </div>
</div>